{% extends 'usuarios/base.html' %}
{% block conteudo %}
    {{usuario.id_usuario}} - {{usuario.nome}} - {{usuario.idade}}
    <form action="{% url 'update' usuario.id_usuario %}" method="post">
        {% csrf_token %}
        <div style="text-align: center" class="container">
          <h1>Editar user</h1>
          Nome <input class="form-control-sm" type="text" name="nome" value="{{usuario.nome}}" /> 
          Idade <input class="form-control-sm" type="text" name="idade" value="{{usuario.idade}}"/>
          <button class="form-control-sm">Salvar</button>
        </div>
      </form>
{% endblock %}